// Global variables
$color-group-cloud-and-server:          #a87ca0;
$color-group-canonical-announcements:   #ff8936;
$color-group-internet-of-things:        #8db255;
$color-group-desktop:                   #faba54;
